@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  /* Navbar css */
  .nav-default {
    @apply flex items-center justify-center fixed top-8 lg:top-5 left-0 right-0 transition-all duration-300;
  }
  .nav-sticky{
    @apply bg-white/80 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 flex items-center h-[9vh] fixed top-0 left-0 right-0 opacity-100 z-[100] shadow-sm shadow-slate-100;
  }
  /* Hero Container */
  .travigo-container {
    @apply w-[85vw] xl:w-[95vw] m-auto;
  }
  /* Hero Buttons */
  .button-emrald {
    @apply bg-gradient-to-b from-emerald-500 to-green-500 shadow-lg shadow-emerald-300 rounded-full text-lg sm:text-sm px-9 py-1.5 transition-all duration-200 active:scale-95 text-white w-48
  }
  .button-light {
    @apply bg-gradient-to-b from-white to-slate-100 shadow-lg shadow-slate-300 rounded-full text-lg sm:text-sm px-9 py-1.5 transition-all duration-200 active:scale-95 text-black w-48
  }
  /* travigo header texts */
  .travigo-text {
    @apply text-5xl font-bold lg:text-4xl md:text-3xl text-slate-900 filter drop-shadow-lg
  }
  /* Scroll bar hidden */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

    /* scroll-bar-code */
    body::-webkit-scrollbar {
      scroll-behavior: smooth;
      scrollbar-width: thin;
      scrollbar-color: rgb(66, 245, 141) rgb(66, 245, 141);
    }
    body::-webkit-scrollbar {
      @apply w-1.5;
    }
    body::-webkit-scrollbar-track {
      @apply bg-gradient-to-b from-slate-100 to-gray-100;
    }
    body::-webkit-scrollbar-thumb {
      @apply rounded-full bg-gradient-to-tr from-emerald-500 to-green-500;
    }

/* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}